[submodule "libraries/freertos"]
	path = libraries/freertos
	url = https://github.com/MorroGeek/freertos.git
[submodule "libraries/cherryusb"]
	path = libraries/cherryusb
	url = https://github.com/MorroGeek/cherryusb
[submodule "libraries/letter_shell"]
	path = libraries/letter_shell
	url = https://github.com/MorroGeek/letter_shell
