menu "Omni Configuration"

menu "System Options"

choice OMNI_LINKER_SCRIPT
    prompt "Linker Script Selection"
    default OMNI_LINKER_SCRIPT_SECTION_DEFAULT

    config OMNI_LINKER_SCRIPT_SECTION_DEFAULT
        bool "default"

    config OMNI_LINKER_SCRIPT_SECTION_CUSTOM
        bool "custom"

endchoice # OMNI_LINKER_SCRIPT

choice OMNI_RTOS
    prompt "RTOS Selection"
    default OMNI_RTOS_SECTION_FREERTOS

    config OMNI_RTOS_SECTION_NONE
        bool "none"

    config OMNI_RTOS_SECTION_FREERTOS
        bool "freertos"

endchoice # OMNI_RTOS

choice OMNI_USB
    prompt "USB Selection"
    default OMNI_USB_SECTION_CHERRYUSB

    config OMNI_USB_SECTION_NONE
        bool "none"

    config OMNI_USB_SECTION_CHERRYUSB
        bool "cherryusb"

endchoice # OMNI_USB

choice OMNI_SHELL
    prompt "Shell Selection"
    default OMNI_SHELL_SECTION_LETTER

    config OMNI_SHELL_SECTION_NONE
        bool "none"

    config OMNI_SHELL_SECTION_LETTER
        bool "letter"

endchoice # OMNI_SHELL

endmenu # System Options

    rsource "targets/Kconfig"
    rsource "boards/Kconfig"
    rsource "components/Kconfig"
    rsource "drivers/Kconfig"
    rsource "libraries/Kconfig"
endmenu # Omni Configuration
