menuconfig OMNI_DRIVERS_CLI
    bool "CLI driver"
    default n
    help
        Enable the CLI (Command Line Interface) driver configuration.

if OMNI_DRIVERS_CLI

menu "CLI Enable Configuration"
    config CLI_NUM_1
        bool "Enable CLI 1"
        default y
        help
            Enable CLI 1.

    config CLI_NUM_2
        bool "Enable CLI 2"
        default n
        help
            Enable CLI 2.

endmenu # CLI Enable Configuration

rsource "Kconfig.shell"

endif # OMNI_DRIVERS_CLI
