menuconfig CLI
    bool "CLI board configuration"
    help
        Enable the CLI board configuration.

if CLI

menu "CLI Enable Configuration"
    config CLI_NUM_1
        bool "Enable CLI 1"
        default y
        help
            Enable CLI 1.

    config CLI_NUM_2
        bool "Enable CLI 2"
        default n
        help
            Enable CLI 2.

endmenu # CLI Enable Configuration

endif # CLI
